<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head  th:include="/shared/head::head">
    <title>Clubby - Team ASDASD</title>
</head>

<body>
    <link href="res/cover.css" rel="stylesheet">

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">clubby</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li th:if="${authenticated}== true"><a href="/app">App</a></li>
                                <li th:if="${administrator}== true"><a href="/admin">Admin</a></li>
                                <li th:if="${authenticated}== true"><a href="logout">Logout</a></li>
                                <li th:if="${authenticated}== false"><a href="login.jsp">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">"Every day is a new day. It is better to be lucky. But I would rather be
                        exact. Then when luck comes you are ready."</h1>
                    <p class="lead"> - Ernest Hemingway, The Old Man and the Sea</p>
                    <p class="lead">
                        <a href="https://www.google.com/search?q=Ernest+Hemingway%2C+The+Old+Man+and+the+Sea"
                           class="btn btn-lg btn-default">Learn more</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Created by Team ASDASD</p>
                        <p>&copy; 2016 TeamASDASD ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  th:include="/shared/scripts::scripts"></div>
</body>
</html>

