<div class="card card-block">
    <div *ngIf="!cottages" class="row loader"></div>
    <div *ngIf="isAdministrator">
        <button type="button" class="btn btn-primary pull-right" style="margin: 5px;">Add Cottage</button>
    </div>

    <div *ngIf="cottages" class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Number of Beds</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#cottage of cottages; #i = index">
                <td>
                    <img src="{{cottage.Image}}" class="img-thumbnail" style="margin-left: 15px; max-width: 200px;">
                </td>
                <td>{{cottage.Title}}</td>
                <td>{{cottage.Beds}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>