<div class="container">
    <div class="row">
        <div class="">
            <div class="well well-sm">
                <div *ngIf="!user" class="row loader"></div>
                <div *ngIf="user" class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{user.Picture}}" alt="" class="img-circle img-responsive center-block" />
                    </div>
                    <div class="col-sm-6 col-md-8 text-center">
                        <h4>{{user.Name}}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{user.Email}}
                        </p>
                        <!-- Split button -->
                        <!--TODO: enable social button.. till we can make it *social*-->
                        <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-primary">-->
                        <!--Social-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="caret"></span><span class="sr-only">Social</span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Twitter</a></li>-->
                        <!--<li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>-->
                        <!--<li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Github</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
