<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="shared/head::head">
    <meta charset="UTF-8">
</head>
<body>
<a href="/admin/clearlogs" style="position: absolute;top: 100px;" class="btn btn-danger" role="button">Clear logs</a>
<table class="table table-bordered" style="position: absolute; left: 0; top: 150px; width: 100%;">
    <thead>
    <tr>
        <th>#</th>
        <th>Time</th>
        <th>Level</th>
        <th>Class</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody class="searchable">
    <tr th:each="log,iterationStatus  : ${logs}">
        <td th:text="${iterationStatus.count}">1</td>
        <td th:each="item  : ${log}" th:text="${item}">asdasd</td>
    </tr>
    </tbody>
</table>
</body>
</html>