<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="shared/head::head">
    <meta charset="utf-8">
</head>
<body>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="sub-header">Users</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody class="searchable">
                <tr th:each="user,iterationStatus : ${users}">
                    <td th:text="${user.Name}"></td>
                    <td th:text="${user.Email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/public/admin/shared/scripts/users.js"></script>
</body>
</html>
