<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Cottage</th>
        <th>Reserved by</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th *ngIf="personal"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#reservation of reservations">
        <td>{{reservation?.id}}</td>
        <td><a [routerLink]="['CottageDetails', {id: reservation?.cottage?.id}]">{{reservation?.cottage?.title}}</a>
        </td>
        <td>{{reservation?.user?.name}}</td>
        <td>{{reservation?.dateFrom}}</td>
        <td>{{reservation?.dateTo}}</td>
        <td *ngIf="personal">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confModal">Cancel</button>
        </td>
    </tr>
    <p class="text-center"
       *ngIf="reservations.length === 0">Nothing found.</p>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade"
     id="confModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="confirmationModal"
     data-backdrop="false">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"
                    id="confirmationModal">Confirmation</h4>
            </div>
            <form class="form-horizontal"
                  (ngSubmit)="onSubmit()">
                <p class="text-center">Are you sure you want to cancel the reservation?</p>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit"
                            class="btn btn-primary"
                            [disabled]="!isButtonActive">
                        Submit
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>