<div class="card card-block">
    <div *ngIf="!cottages" class="loader"></div>
    <div *ngIf="cottages">

        <div id="filters-container">

            <div id="date-filter-group" class="input-group">
                <div style="display:-webkit-box;">
                    <div class="input-group-addon" style="width: 30px; padding: 9px 12px;">Availability interval:</div>
                    <input type="date" class="form-control" style="width: 160px" placeholder="mm/dd/yyyy" #dateFromInput>
                    <input type="date" class="form-control" style="width: 160px" placeholder="mm/dd/yyyy" #dateToInput>
                </div>
            </div>

            <div id="price-filter-group" class="input-group">
                <div style="display:-webkit-box;">
                    <div class="input-group-addon" style="width: 30px; padding: 9px 12px;">Price:</div>
                    <input type="number" class="form-control" style="width: 75px" placeholder="From" #priceFromInput>
                    <input type="number" class="form-control" style="width: 75px" placeholder="To" #priceToInput>
                </div>
            </div>

            <div id="title-filter-group" class="input-group">
                <div class="input-group-addon">Title:</div>
                <input type="text" class="form-control" style="width: 140px" #titleInput>
            </div>

            <div id="beds-filter-group" class="input-group">
                <div class="input-group-addon">Beds:</div>
                <rooms-selector class="form-control" style="padding:6px;" [cottages]="cottages" #roomsInput></rooms-selector>
            </div>

            <button id="filter-button" (click)="filterCottages(titleInput.value, roomsInput.selector.value, priceFromInput.value, priceToInput.value, dateFromInput.value, dateToInput.value)" class="btn btn-primary">Filter</button>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Number of Beds</th>
                <th>Weekly Payment</th>
                <th>Available from</th>
                <th>Available to</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#cottage of cottages"
                (click)="onSelect(cottage)">
                <td>
                    <img src="{{cottage.image}}" class="img-thumbnail"/>
                </td>
                <td>{{cottage.title}}</td>
                <td>{{cottage.beds}}</td>
                <td>{{(cottage.price/100) | currency:"EUR":true:'1.2-2'}}</td>
                <td>{{cottage.availableFrom}}</td>
                <td>{{cottage.availableTo}}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-center"
           *ngIf="cottages.length === 0">Nothing found.</p>
    </div>

</div>