<div class="card card-block">
    <div *ngIf="!cottages" class="loader"></div>
    <div *ngIf="cottages">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Number of Beds</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="#cottage of cottages; #i = index">
                <td>
                    <img src="{{cottage.Image}}" class="img-thumbnail" style="margin-left: 15px; max-width: 200px;">
                </td>
                <td>{{cottage.Title}}</td>
                <td>{{cottage.Beds}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>