@import '../../../style/colors';

#button {
  width: 100%;
  display: inline-block;
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 0px;
  right: 0px;
}

.title {
  margin: 0;
  overflow: hidden;
  padding-top: 35px;
  padding-right: 15px;
  text-align: left;
}

.subtitle {
  width: 100%;
  height: 70px;
  padding: 10px;
  display: inline-block;
}

.card{
  max-width: 420px;
  height: 190px;
  margin: auto;
  background: #7eec7f;
  padding: 2px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px -22px 70px 32px rgba(0, 0, 10, 0.5);
  box-shadow: inset 0px 0px 100px 15px rgba(0, 0, 10, 0.3);
  text-align: center;
}

.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}
.avatar{
  float:left;
  position: relative;
  padding: 15px 15px 0px 15px;
}
.col.md.4{
  text-align: center;
  padding: 0px 40px 12px 40px;
  margin-top: 20px;
}
.avatar > img{
  width: 60px;
  height: 60px;
}