@import '../../../style/colors';

#popUp {
  display: inline-block;
  top: 20%;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 50px;
  padding-top: 35px;
  z-index: 1;
  background: #FCFFF5;
  border-radius: 8px;
}

#popUp > * {
  margin-top: 15px;
}

#fullscreen {
  z-index: 70;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#background-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
}

#button {
  width: 100%;
  display: inline-block;
  position: absolute;
  margin: auto;
  bottom: 20px;
  left: 0px;
  right: 0px;
}

#close-button {
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 15px;
  font-size: 2em;
  cursor: pointer;
}

.title {
  margin: 0;
  overflow: hidden;
  padding-top: 35px;
  padding-right: 15px;
  text-align: left;
}

.card{
  max-width: 420px;
  height: 190px;
  margin: auto;
  background: white;
  padding: 2px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0px -22px 70px 32px rgba(0, 0, 10, 0.5);
  box-shadow: inset 0px 0px 100px 15px rgba(0, 0, 10, 0.3);
  text-align: center;
}

.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}
.avatar{
  float:left;
  position: relative;
  padding: 15px 15px 0px 15px;
}
.col.md.4{
  text-align: center;
  padding: 0px 40px 12px 40px;
  margin-top: 20px;
}
.avatar > img{
  width: 60px;
  height: 60px;
}

#picture {
  margin: auto;
  width: 100px;
}