.uploadinput {
     position: relative;
     overflow: hidden;
 }
.form-group.required .control-label:after {
    content:"*";
    color:red;
}
.uploadinput input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.thumbnail {
    border: none
}

.panel-body {
    display: none;
}

.panel {
    margin-top: 80px;
}

#message-box li {
    text-align: left;
}

.progress-bar {
    width: 0%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.photo {
    display: none;
}
form{
    color: #0A0A0A;
}
/*loader*/
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(64, 128, 128, 0.2);
    border-right: 1.1em solid rgba(64, 128, 128, 0.2);
    border-bottom: 1.1em solid rgba(64, 128, 128, 0.2);
    border-left: 1.1em solid #408080;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}