@import '../../style/colors';

a.notifications {
  display: inline-block;
  padding: 4px 8px;
}

a.notifications:hover {
  background-color: $darker;
  cursor: pointer;
}

.notifications-icon{
  color: $light;
  padding: 14px 0;
  display: inline-block;
}