<a class="notifications" #container>
    <div (click)="toggleNotificationsDropdown()">
        <span class="notifications-icon glyphicon glyphicon-bell" aria-hidden="true"></span>
        <span class="label label-danger" *ngIf="notifications">{{notifications.length}}</span>
    </div>
    <ul class="dropdown-menu" *ngIf="notifications" #dropdown>
        <li *ngFor="#n of notifications">
            <a (click)="handleNotificationClick($event)" attr.data-notification-id="{{n.id}}">{{n.title}}</a>
        </li>
    </ul>
</a>



