<a class="notifications" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="toggleNotificationsDropdown()">
    <span class="notifications glyphicon glyphicon-bell" aria-hidden="true"></span>
    <span class="label label-danger" *ngIf="notifications">{{notifications.length}}</span>
    <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">One more separated link</a></li>
    </ul>
</a>