@import '../../style/colors';

a.notifications {
  display: inline-block;
  padding: 4px 8px;
}

a.notifications:hover {
  background-color: $darker;
}

span.notifications {
  color: $light;
  padding: 14px 0px;
  display: inline-block;
}