// styles in src/style directory are applied to the whole page
@import "colors";

// Custom styles, overrides bootstrap
body {
  background: $light;
}

header {
}

a {
  color: $font;
}

@import "loader"
