<div class="container">
    <div class="row">
        <div class="">
            <div class="well">
                <div id="message" #notificationMessage></div>
                <div *ngIf="loadingState == 'waiting'" class="row loader"></div>
                <div *ngIf="loadingState == 'done'" class="row">
                    <div id="tableContainer" class="text-center">

                        <table id="infoTable" #infoTable>
                            <tr>
                                <td class="cell-left">
                                    <div id="pictureContainer">
                                        <img src="{{user.picture}}" alt="" class="img-circle img-responsive center-block" />
                                    </div>
                                </td>
                                <td class="cell-right">
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-left"><h4>Name</h4></td>
                                <td class="cell-right">
                                    <input type="text" value="{{user.name}}" #name/>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-left"><h4>Email</h4></td>
                                <td class="cell-right">
                                    <input type="text" value="{{user.email}}" #email/>
                                </td>
                            </tr>
                            <tr *ngFor="#f of user.fields">
                                <td class="cell-left">
                                    <h4>{{f.description}}</h4>
                                </td>
                                <td class="cell-right">
                                    <input class="fieldsValues" type="text" value="{{f.value}}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-left"><h4>Change password</h4></td>
                                <td class="cell-right">
                                    <input type="text "placeholder="Enter new password" #password value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-left"><h4>Repeat new password</h4></td>
                                <td class="cell-right">
                                    <input type="text" placeholder="Enter new password" #password2 value=""/>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-left"><h4>Roles</h4></td>
                                <td id="rolesValues" class="cell-right">
                                    <div *ngFor="#r of user.roles">
                                    {{r}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="cell-left">
                                    <button id="submitChangesButton"
                                            type="button"
                                            (click)="submitChanges()"
                                            class="btn btn-default">
                                        Submit changes
                                    </button>
                                </td>
                                <td class="cell-right">
                                    <button *ngIf="isCandidate"
                                            id="recommendationButton"
                                            type="button"
                                            (click)="toggleRecommendationPopup()"
                                            class="btn btn-default">
                                        Ask for recommendation
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <!-- Split button -->
                        <!--TODO: enable social button.. till we can make it *social*-->
                        <!--<div class="btn-group">-->
                        <!--<button type="button" class="btn btn-primary">-->
                        <!--Social-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="caret"></span><span class="sr-only">Social</span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Twitter</a></li>-->
                        <!--<li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>-->
                        <!--<li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Github</a></li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>

                    <div id="fullscreen" *ngIf="recommendationPopup">
                        <div id="popUp">
                            <div *ngIf="requestingRecommendationState == 'default'">
                                <p>Enter email adress:</p>
                                <input type="text" class="form-control" #emailInput>
                                <button type="submit" (click)="sendRecommendationRequest(emailInput.value)" class="btn btn-default">Submit</button>
                            </div>
                            <div *ngIf="requestingRecommendationState == 'waiting'" class="loader"></div>
                            <div #recommendationMessage></div>
                            <div id="close-button" (click)="toggleRecommendationPopup()">X</div>
                        </div>

                        <div id="background-shadow" (click)="toggleRecommendationPopup()"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
