@import '../../style/colors';

body {
  padding-top: 30px;
}

#recommendationButton {
  display: inline-block;
  margin-top: 10px;
}

#submitChangesButton {
  display: inline-block;
  margin-top: 10px;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.well {
  background: $light;
}

#popUp {
  display: inline-block;
  top: 20%;
  text-align: center;
  vertical-align: middle;
  right: 0px;
  left: 0px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  padding: 50px;
  padding-top: 35px;
  z-index: 1;
  background: #FCFFF5;
  border-radius: 8px;
}

#fullscreen {
  z-index: 70;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#background-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
}

#close-button {
  font-weight: bold;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 2em;
  cursor: pointer;
}

#popUp > * > * {
  margin-top: 15px;
}

.cell-left {
  text-align: right;
  padding-right: 15px;
}

.cell-right {
  text-align: left;
  padding-left: 15px;
}

#tableContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  margin-top: 10px;
}

#pictureContainer {
  margin-top: 10px;
}

#infoTable {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
#infoTable td, table th {
  border: 3px solid lightgrey;
}
#infoTable tr:first-child td {
  border-top: 0;
}
#infoTable tr:last-child td {
  border-bottom: 0;
}
#infoTable tr td:first-child,
#infoTable tr th:first-child {
  border-left: 0;
}
#infoTable tr td:last-child,
#infoTable tr th:last-child {
  border-right: 0;
}

#rolesValues > div {
  margin-top:5px;
}

#rolesValues > div:last-child {
  margin-bottom:5px;
}

input {
  padding: 3px;
  width: 100%;
}



