<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['Home']">Clubby</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li [class.active]="isRouteActive(['Cottages'])">
                        <a [routerLink]="['Cottages']">Cottages</a>
                    </li>
                    <li [class.active]="isRouteActive(['Payments'])">
                        <a [routerLink]="['Payments']">Payments</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span class="balance">{{balance | number:'1.2-2'}} CB
                        <a href="/app/#/Payments/buyclubbycoins">+</a></span></li>
                    <li [class.active]="isRouteActive(['Profile'])">
                        <a [routerLink]="['Profile']">Profile</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>

</footer>
