<div class="container">
    <!--TODO: add 'back' button-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{cottage.title}}
                <small>Cottage</small>
            </h1>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <img class="img-thumbnail" src="{{cottage.image}}" alt="">
        </div>

        <div class="col-md-4">
            <h3>Description</h3>
            <p>{{cottage.description}}</p>
            <h3>Details</h3>
            <ul>
                <li>Beds: {{cottage.beds}}</li>
                <li>Price: {{(cottage.price/100) | currency:"EUR":true:'1.2-2'}}</li>
            </ul>
            <reservation-form [cottage]="cottage"></reservation-form>
        </div>

    </div>
</div>
